/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-bottom: 40px;*/
  color:black;
  background-color: #eee;
  /*background-image: url("../images/white.jpg");*/
}
.line_breaker{
  width:85%;
  border:1px solid blue;
  opacity:0.5;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.big_block{
  box-shadow: 6px 1px px 4px #4a4a4a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color:white;
  padding-bottom:19%;
  text-shadow: 1px 2px 10px #337ab7;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height:800px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 200px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;

}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .carousel .item {
    min-height:650px;
    background-color: #777;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width:320px) {
  .carousel .item {
    height: 350px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .carousel-caption {
    z-index: 10;
    padding-bottom:14%;
  }
  .carousel-caption p {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.4;
  }

}

.products{
  box-shadow: 0px 2px 1px #101010;
}
.products-box{
  box-shadow: 2px 5px 5px #101010;
}
.products:hover{
  box-shadow: 1px 5px 5px #101010;
}
.header_paragraph{
  color:#cccccc;
}
.product-title{
  text-shadow: 1px 2px 2px black;
}
.product-price{
  text-shadow: 1px 2px 2px black;

}

.spliter {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border:5px solid transparent;
}
@media (min-width: 768px) {
  .spliter {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .spliter {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .spliter {
    width: 1170px;
  }
}
.spliter{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.category:hover{
  box-shadow: 1px 2px 1px #4a4a4a;

}
section {
  /*background-color: #C2CCD6;*/
  margin-top:30px;

}
.services{
  margin-bottom: 30x;
  /*background-image:url("../images/blue.jpg");*/
}
.service{

padding-top: 40px;

}
.service:hover{
  /*box-shadow:1px 1px 3px #101010;*/
  /*background-color: #fff;*/
}
.divider{
  margin-top: 20px;

}
.glyphicon-stack {
position: relative;
display: inline-block;
width: 2em;
height: 2em;
line-height: 2em;
vertical-align: middle;
}

.glyphicon-circle{
position: relative;
border-radius: 50%;
width: 100%;
height: auto;
padding-top: 100%;
background: black;
}

.glyphicon-stack-1x {
line-height: inherit;
}

.glyphicon-stack-1x, .glyphicon-stack-2x {
position: absolute;
left: 0;
width: 100%;
text-align: center;
}
